PORT=8000

CORS_ORIGIN=*
MONGODB_URL=mongodb+srv://arnav_org:Arnav2006@cluster0.tes4z5a.mongodb.net/?appName=Cluster0

ACCES_TOKEN_SECRET=jai_ho
ACCES_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=jai-hind
REFRESH_TOKEN_EXPIRY=10d


ClOUDINARY_CLOUD_NAME=
ClOUDINARY_API_KEY=
ClOUDINARY_API_SECRET=